<h1>login</h1>
<form action="/login" method="POST">
  <input type="text" name="username" value="abc" />
  <input type="text" name="password" value="123456" />
  <input type="submit" value="Submit" />
</form>

{{#if flash}}
  <p>{{flash}}</p>
{{/if}}